#[allow(unused_imports, clippy::wildcard_imports)]
use super::*;
#[cfg(feature = "alloc")]
extern crate alloc;
#[cfg(feature = "alloc")]
#[allow(unused_imports)]
use alloc::sync::Arc;
{% for definition in definitions %}
{%- match definition %}
{%- when DefinitionOutput::Struct(s) %}
{% include "struct.rs.jinja" %}
{% include "lazy_struct_inline.rs.jinja" %}
{%- when DefinitionOutput::Enum(e) %}
{% include "enum.rs.jinja" %}
{% include "lazy_enum_inline.rs.jinja" %}
{%- when DefinitionOutput::Union(u) %}
{% include "union.rs.jinja" %}
{% include "lazy_union_inline.rs.jinja" %}
{%- when DefinitionOutput::TypedefAlias(t) %}
{% include "typedef_alias.rs.jinja" %}
{% include "lazy_typedef_alias_inline.rs.jinja" %}
{%- when DefinitionOutput::TypedefNewtype(t) %}
{% include "typedef_newtype.rs.jinja" %}
{% include "lazy_typedef_newtype_inline.rs.jinja" %}
{%- when DefinitionOutput::Const(c) %}
{% include "const.rs.jinja" %}
{%- endmatch %}
{%- endfor %}
