    /// Lazy wrapper for [`super::{{ s.name }}`].
    #[derive(Clone, Debug)]
    pub struct {{ s.lazy_name }}(LazyHandle);

    impl LazyXdr for {{ s.lazy_name }} {
{%- if let Some(fs) = s.lazy_fixed_size %}
        const FIXED_XDR_SIZE: Option<u32> = Some({{ fs }});
{%- endif %}

        fn xdr_validate(buf: &[u8]) -> Result<u32, super::Error> {
            let mut pos: u32 = 0;
{%- for step in s.lazy_validate_steps %}
{%- match step %}
{%- when LazyValidateStep::FixedGroup(g) %}
{%- if g.total_fixed > 0 %}
            let next_pos = pos.checked_add({{ g.total_fixed }}).ok_or(super::Error::LengthExceedsMax)?;
            if buf.len() < next_pos as usize {
                return Err(super::Error::Invalid);
            }
{%- for cv in g.content_validations %}
            <{{ cv.lazy_type }} as LazyXdr>::xdr_validate(&buf[(pos + {{ cv.offset }}) as usize..])?;
{%- endfor %}
            pos = next_pos;
{%- endif %}
{%- when LazyValidateStep::Variable(v) %}
            {
                let field_len = <{{ v.lazy_type }} as LazyXdr>::xdr_validate(&buf[pos as usize..])?;
                pos = pos.checked_add(field_len).ok_or(super::Error::LengthExceedsMax)?;
            }
{%- endmatch %}
{%- endfor %}
            Ok(pos)
        }

{%- if let Some(fs) = s.lazy_fixed_size %}

        #[inline]
        fn xdr_len(_buf: &[u8]) -> u32 {
            {{ fs }}
        }
{%- else %}

        fn xdr_len(buf: &[u8]) -> u32 {
            let mut pos: u32 = 0;
{%- for step in s.lazy_validate_steps %}
{%- match step %}
{%- when LazyValidateStep::FixedGroup(g) %}
{%- if g.total_fixed > 0 %}
            pos += {{ g.total_fixed }};
{%- endif %}
{%- when LazyValidateStep::Variable(v) %}
            pos += <{{ v.lazy_type }} as LazyXdr>::xdr_len(&buf[pos as usize..]);
{%- endmatch %}
{%- endfor %}
            pos
        }
{%- endif %}

        fn from_xdr_at(parent: &LazyHandle, offset: u32) -> Self {
            let buf = &parent.as_slice()[offset as usize..];
            let len = Self::xdr_len(buf);
            Self(parent.sub_handle(offset, len))
        }
    }

    impl From<LazyHandle> for {{ s.lazy_name }} {
        fn from(h: LazyHandle) -> Self {
            Self(h)
        }
    }

    impl AsRef<LazyHandle> for {{ s.lazy_name }} {
        fn as_ref(&self) -> &LazyHandle {
            &self.0
        }
    }

    impl TryFrom<Arc<[u8]>> for {{ s.lazy_name }} {
        type Error = super::Error;
        fn try_from(buf: Arc<[u8]>) -> Result<Self, super::Error> {
            let len = Self::xdr_validate(&buf)?;
            Ok(Self(LazyHandle::from_arc(buf, 0, len)))
        }
    }

    impl {{ s.lazy_name }} {
{%- for m in s.members %}
        /// Access field `{{ m.name }}`.
        #[must_use]
{%- if m.lazy_accessor.var_skips.is_empty() %}
        pub fn {{ m.name }}(&self) -> {{ m.lazy_type }} {
            <{{ m.lazy_type }} as LazyXdr>::from_xdr_at(&self.0, {{ m.lazy_accessor.initial_fixed }})
        }
{%- else %}
        pub fn {{ m.name }}(&self) -> {{ m.lazy_type }} {
            let buf = self.0.as_slice();
            let mut pos: u32 = {{ m.lazy_accessor.initial_fixed }};
{%- for skip in m.lazy_accessor.var_skips %}
            pos += <{{ skip.lazy_type }} as LazyXdr>::xdr_len(&buf[pos as usize..]);
{%- if skip.post_fixed > 0 %}
            pos += {{ skip.post_fixed }};
{%- endif %}
{%- endfor %}
            <{{ m.lazy_type }} as LazyXdr>::from_xdr_at(&self.0, pos)
        }
{%- endif %}
{%- endfor %}
    }
