    /// Lazy wrapper for [`super::{{ t.name }}`].
    #[derive(Clone, Debug)]
    pub struct {{ t.lazy_name }}({{ t.lazy_inner_type.rust_type() }});

    impl LazyXdr for {{ t.lazy_name }} {
{%- if let Some(fs) = t.lazy_fixed_size %}
        const FIXED_XDR_SIZE: Option<u32> = Some({{ fs }});
{%- endif %}

        fn xdr_validate(buf: &[u8]) -> Result<u32, super::Error> {
            <{{ t.lazy_inner_type.rust_type() }} as LazyXdr>::xdr_validate(buf)
        }

        #[inline]
        fn xdr_len(buf: &[u8]) -> u32 {
            <{{ t.lazy_inner_type.rust_type() }} as LazyXdr>::xdr_len(buf)
        }

        fn from_xdr_at(parent: &LazyHandle, offset: u32) -> Self {
            Self(<{{ t.lazy_inner_type.rust_type() }} as LazyXdr>::from_xdr_at(parent, offset))
        }
    }

{%- if !t.lazy_inner_type.is_scalar() %}
    impl From<LazyHandle> for {{ t.lazy_name }} {
        fn from(h: LazyHandle) -> Self {
            Self(<{{ t.lazy_inner_type.rust_type() }}>::from(h))
        }
    }

    impl AsRef<LazyHandle> for {{ t.lazy_name }} {
        fn as_ref(&self) -> &LazyHandle {
            self.0.as_ref()
        }
    }

    impl TryFrom<Arc<[u8]>> for {{ t.lazy_name }} {
        type Error = super::Error;
        fn try_from(buf: Arc<[u8]>) -> Result<Self, super::Error> {
            let len = Self::xdr_validate(&buf)?;
            Ok(Self(<{{ t.lazy_inner_type.rust_type() }}>::from(LazyHandle::from_arc(buf, 0, len))))
        }
    }
{%- else %}
    impl TryFrom<Arc<[u8]>> for {{ t.lazy_name }} {
        type Error = super::Error;
        fn try_from(buf: Arc<[u8]>) -> Result<Self, super::Error> {
            let len = Self::xdr_validate(&buf)?;
            Ok(Self::from_xdr_at(&LazyHandle::from_arc(buf, 0, len), 0))
        }
    }
{%- endif %}

    impl core::ops::Deref for {{ t.lazy_name }} {
        type Target = {{ t.lazy_inner_type.rust_type() }};
        fn deref(&self) -> &Self::Target {
            &self.0
        }
    }
