#[derive(Clone, Debug, Hash, PartialEq, Eq, PartialOrd, Ord)]
pub struct {{ e.name }}(LazyHandle);

impl {{ e.name }} {
    pub fn get(&self) -> Result<{{ e.lazy_value.eager_type() }}, Error> {
        {{ e.lazy_value.read_result_expr("self.0.buf.as_ref()", "self.0.pos") }}
    }
}

impl AsRef<LazyHandle> for {{ e.name }} {
    fn as_ref(&self) -> &LazyHandle {
        &self.0
    }
}

impl TryFrom<LazyHandle> for {{ e.name }} {
    type Error = Error;

    fn try_from(xdr: LazyHandle) -> Result<Self, Self::Error> {
        Ok(Self(xdr))
    }
}

impl TryFrom<Arc<[u8]>> for {{ e.name }} {
    type Error = Error;

    fn try_from(buf: Arc<[u8]>) -> Result<Self, Self::Error> {
        lazy_from_arc(buf)
    }
}

impl TryFrom<Vec<u8>> for {{ e.name }} {
    type Error = Error;

    fn try_from(bytes: Vec<u8>) -> Result<Self, Self::Error> {
        lazy_from_vec(bytes)
    }
}

#[cfg(feature = "std")]
impl TryFrom<&super::{{ e.name }}> for {{ e.name }} {
    type Error = Error;

    fn try_from(value: &super::{{ e.name }}) -> Result<Self, Self::Error> {
        lazy_from_eager_ref(value)
    }
}

impl LazyXdr for {{ e.name }} {
    type Eager = super::{{ e.name }};

    #[allow(unused_variables)]
    fn lazy_validate(buf: &[u8], offset: u32, _limits: &mut Limits) -> Result<u32, Error> {
        {{ e.lazy_value.validate_expr("buf", "offset") }}
    }

    #[allow(unused_variables)]
    fn lazy_len(_buf: &[u8], _offset: u32) -> Result<u32, Error> {
        Ok({{ e.lazy_value.trusted_len_expr() }})
    }
}