        impl TryFrom<&super::super::{{ s.name }}> for {{ s.lazy_name }} {
            type Error = super::super::Error;
            fn try_from(val: &super::super::{{ s.name }}) -> Result<Self, super::super::Error> {
                let mut buf = Vec::new();
                val.write_xdr(&mut super::super::Limited::new(&mut buf, super::super::Limits::none()))?;
                let arc: Arc<[u8]> = buf.into();
                Self::try_from(arc)
            }
        }

        impl TryFrom<&{{ s.lazy_name }}> for super::super::{{ s.name }} {
            type Error = super::super::Error;
            fn try_from(lazy: &{{ s.lazy_name }}) -> Result<Self, super::super::Error> {
                let buf = lazy.as_ref().as_slice();
                Self::read_xdr(&mut super::super::Limited::new(&mut &buf[..], super::super::Limits::none()))
            }
        }
