    /// Lazy wrapper for [`super::{{ s.name }}`].
    #[derive(Clone, Debug)]
    pub struct {{ s.lazy_name }}(LazyHandle);

    impl LazyXdr for {{ s.lazy_name }} {
{%- if let Some(fs) = s.lazy_fixed_size %}
        const FIXED_XDR_SIZE: Option<u32> = Some({{ fs }});
{%- endif %}

        fn xdr_validate(buf: &[u8]) -> Result<u32, super::Error> {
            let mut pos: u32 = 0;
{%- for m in s.members %}
            let field_len = {{ m.lazy_type.validate_expr("buf", "pos") }};
            pos = pos.checked_add(field_len).ok_or(super::Error::LengthExceedsMax)?;
{%- endfor %}
            Ok(pos)
        }

{%- if let Some(fs) = s.lazy_fixed_size %}

        #[inline]
        fn xdr_len(_buf: &[u8]) -> u32 {
            {{ fs }}
        }
{%- else %}

        fn xdr_len(buf: &[u8]) -> u32 {
            let mut pos: u32 = 0;
{%- for scan_step in s.lazy_len_steps %}
{%- match scan_step %}
{%- when LazyScanStepOutput::Fixed with { len_expr } %}
            pos += {{ len_expr }};
{%- when LazyScanStepOutput::Variable with { type_output } %}
            pos += {{ type_output.len_expr("buf", "pos") }};
{%- endmatch %}
{%- endfor %}
            pos
        }
{%- endif %}

        fn from_xdr_at(parent: &LazyHandle, offset: u32) -> Self {
            let buf = &parent.as_slice()[offset as usize..];
            let len = Self::xdr_len(buf);
            Self(parent.sub_handle(offset, len))
        }
    }

    impl From<LazyHandle> for {{ s.lazy_name }} {
        fn from(h: LazyHandle) -> Self {
            Self(h)
        }
    }

    impl AsRef<LazyHandle> for {{ s.lazy_name }} {
        fn as_ref(&self) -> &LazyHandle {
            &self.0
        }
    }

    impl TryFrom<Arc<[u8]>> for {{ s.lazy_name }} {
        type Error = super::Error;
        fn try_from(buf: Arc<[u8]>) -> Result<Self, super::Error> {
            let len = Self::xdr_validate(&buf)?;
            Ok(Self(LazyHandle::from_arc(buf, 0, len)))
        }
    }

    impl {{ s.lazy_name }} {
{%- for m in s.members %}
        /// Access field `{{ m.name }}`.
        #[must_use]
        pub fn {{ m.name }}(&self) -> {{ m.lazy_type.rust_type() }} {
            let buf = self.0.as_slice();
            let mut pos: u32 = 0;
{%- for scan_step in m.lazy_scan_steps %}
{%- match scan_step %}
{%- when LazyScanStepOutput::Fixed with { len_expr } %}
            pos += {{ len_expr }};
{%- when LazyScanStepOutput::Variable with { type_output } %}
            pos += {{ type_output.len_expr("buf", "pos") }};
{%- endmatch %}
{%- endfor %}
            {{ m.lazy_type.from_parent_expr("&self.0", "pos") }}
        }
{%- endfor %}
    }
